*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #44444E;
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37353E;
  padding: 20px 10%;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar h2{
  color: rgb(255, 255, 255);
  font-family: poppins;
}
