*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #44444E;
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37353E;
  padding: 20px 10%;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar h2{
  color: rgb(255, 255, 255);
  font-family: poppins;
}

/* Hero */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
}

.hero-text{
  width: 50%;
  color: #ffffff;

}

.hero-text h1{
  font-size: 50px;
  color: #ffffff;
}

.hero-text h3{
  color: #ffffff;
  margin: 10px 0;
}

.hero-text p{
  margin: 20px 0;
  line-height: 1.8;
  color: #ffffff;

}


.hero-image img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #715A5A;
}

/* Section */
section{
  padding: 70px 10%;
}

section h2{
  text-align: center;
  margin-bottom: 30px;
}

/* About */
.about{
  color: #ffffff;
  padding: 40px;
  border-radius: 10px;
}
.about p{
  text-align: center;
  line-height: 1.8;
  color: #ffffff;
}

/* Gallery */
.gallery h2{
  color: #ffffff;
  margin-bottom: 40px;
}
.gallery-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-container img{
  width: 300px;
  border-radius: 10px;
}

/* Contact */
.contact h2{
  color: #ffffff;
  margin-bottom: 20px;
}

.contact{
  text-align: center;
  color: #ffffff;
}

/* Footer */
footer{
  background: #D3DAD9;
  text-align: center;
  padding: 20px;
}